:root {
  --white: #fff;
  --grey: #959595;
  --purple: #8e32c6;
  --black-blue: #012d63;
  --gray: #c7c7c7;
}

body {
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

ul,
p,
h1,
h2,
button {
  padding: 0;
  margin: 0;
}

.container {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0 17px;
}

.header {
  background-color: var(--black-blue);
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 29px;
}

.nav-list__link {
  color: var(--grey);
  font-size: 24px;
  font-weight: 300;
}

.nav-list__link:hover {
  color: var(--white);
}

.lang .ua,
.eng {
  color: #dcdcdc;
  font-size: 24px;
  font-weight: 300;
}

.span-ua {
  padding-right: 15px;
}

.lang .ua:hover,
.eng:hover {
  color: var(--white);
}

.hero {
  background-color: var(--black-blue);
  background-image: url("../img/Fon1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 183px;
}

.hero-img {
  padding-top: 94px;
}

.hero-text {
  color: var(--white);
  display: block;
  font-family: "PT Serif", sans-serif;
  font-size: 48px;
  padding-left: 31px;
}

.hero-title {
  color: var(--white);
  font-family: "Playfair Display", sans-serif;
  font-size: 144px;
  font-weight: 400;
}

.hero-subtitle {
  color: var(--white);
  font-family: "Playfair Display", sans-serif;
  font-size: 72px;
  font-weight: 400;
}

.hero-desc {
  color: var(--white);
  font-size: 18px;
  width: 508px;
  padding: 12px 0 41px;
}

.hero-btn {
  color: var(--white);
  font-size: 24px;
  text-align: center;

  background-color: var(--purple);
  padding: 20px 61px;
  border: none;
  border-radius: 10px;
}

.advant {
  background-color: var(--black-blue);
  background-image: url("../img/Fon2.jpg");
  background-size: cover;
  background-position: center;
  padding: 105px 0;
}

.advant-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 5px solid var(--purple);
  padding: 25px 50px;
}

.advant-list__item:first-child::after {
  background-image: url("../img/Stars.svg");
  content: "";
  display: block;
  height: 240px;
  background-repeat: no-repeat;
  background-position: center;
}

.advant-list__item:nth-child(2) {
  border-left: 1px solid var(--white);
  border-right: 1px solid var(--white);
  padding: 0 95px;
  align-self: flex-start;
}

.advant-list__item:nth-child(2)::before {
  background-image: url("../img/Colors.svg");
  content: "";
  display: block;
  height: 240px;
  background-repeat: no-repeat;
  background-position: center;
}

.advant-list__item:last-child::after {
  background-image: url("../img/Trucks.svg");
  content: "";
  display: block;
  height: 240px;
  background-repeat: no-repeat;
  background-position: center;
}

.advant-title {
  color: var(--white);
  text-align: center;
  font-family: "Playfair Display", sans-serif;
  font-size: 36px;
  font-weight: 400;
}

.reviews {
  padding: 25px 0 114px;
  background-color: var(--black-blue);
  background-image: url("../img/Flowers.svg"), url("../img/Fon3.jpg");
  background-size: auto, cover;
  background-position: left bottom, center;
  background-repeat: no-repeat, no-repeat;
  border: 2px solid var(--white);
}

.reviews-title {
  color: var(--white);
  text-align: center;
  font-family: "Playfair Display", sans-serif;
  font-size: 48px;
  margin-bottom: 24px;
}

.reviews-list {
  display: flex;
  gap: 93px;
  justify-content: center;
  align-items: center;
}

.reviews-list__item {
  width: 255px;
  height: 292px;
  padding: 49px 18px 29px;
}

.reviews-list__item:first-child {
  border-radius: 15px;
  background: linear-gradient(
    137deg,
    #00e5e6 7.29%,
    #00a8f7 26.04%,
    #9a76f9 62.5%,
    #cc5ec2 100%
  );

  box-shadow: 0px 14px 0px -5px #7b54b2, 0px 30px 0px -13px #533978;
}

.reviews-list__item:nth-child(2) {
  border-radius: 15px;
  background: linear-gradient(
    137deg,
    #ff68b4 0%,
    #ff45e1 26.04%,
    #ce3aff 62.84%,
    #8961ff 100%
  );

  box-shadow: 0px 14px 0px -5px #9159b1, 0px 30px 0px -13px #61337c;
}

.reviews-list__item:last-child {
  border-radius: 15px;
  background: linear-gradient(
    143deg,
    #ffe128 0%,
    #ff9b5c 30.21%,
    #ff8381 63.29%,
    #ff5489 100%
  );

  box-shadow: 0px 14px 0px -5px #b95a4c, 0px 30px 0px -13px #732f26;
}

.reviews-desc {
  color: var(--white);
  font-size: 24px;
  width: 228px;
  margin-bottom: 8px;
}

.date {
  color: #d8d8d8;
  font-size: 14px;
}

.users-box__people {
  border-radius: 100%;
  width: 31px;
  height: 31px;
}

.users-box {
  display: flex;
  margin-top: 47px;
}

.users-info {
  margin-left: 5px;
}

.users-info__name {
  color: var(--white);
  font-size: 14px;
}

.users-info__with-us {
  color: #d8d8d8;
  font-size: 12px;
}

.order {
  background-color: var(--black-blue);
  background-image: url("../img/Fon4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 21px 0 37px;
}

.order-title {
  color: var(--white);
  font-family: "Playfair Display", sans-serif;
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 33px;
}

.order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
}

.order-input:first-child {
  width: 690px;
  height: 60px;
  color: var(--grey);
  font-size: 28px;
  border-radius: 50px;
  padding: 12px 0 12px 25px;
}

.order-input {
  width: 580px;
  height: 50px;
  border-radius: 50px;
  color: var(--grey);
  font-size: 24px;
  padding: 11px 0 11px 24px;
  border: none;
}

.order-btn {
  display: block;
  border-radius: 16px;
  background-color: #8e32c6;
  color: var(--white);
  font-size: 24px;
  padding: 20px 48px;
  border: none;
}

.footer {
  background-color: #021635;
  padding: 45px 0 50px;
}

.footer-list {
  padding-bottom: 20px;
  border-bottom: 1px solid #9b9b9b;
}

.footer-list__item {
  display: flex;
  justify-content: space-between;
}

.footer-list__text {
  color: var(--white);
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-list__link {
  color: var(--white);
  font-size: 24px;
  text-decoration-line: underline;
  margin-bottom: 10px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
}

.info-box {
  padding-top: 24px;
}

.info-box__text {
  font-size: 18px;
}

.info-box__US {
  font-size: 18px;
  margin-top: 7px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-img {
  width: 108px;
  height: 81px;
}

.footer-text {
  color: var(--white);
  font-family: "PT Serif", serif;
  font-size: 24px;
}
